body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  /*justify-content: space-evenly;*/
  /*align-items: start;*/
}

.header {
  background-color: #262626;
  height: 70px;
  min-width: 1440px;
}

.Nav {
  color: #b5bec5;
  height: 70px;
  font-size: large;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.Nav-Link {
  font-family: "Open Sans", sans-serif;
}

.about {
  height: 330px;
  width: 225px;
  background-color: #f8f9fa;
  text-align: start;
  margin-top: 40px;
  margin-left: 55px;
}

.about-header {
  font-size: 27px;
  font-style: italic;
  color: black;
  text-shadow: 2px 0 black;
  letter-spacing: 1px;
  font-weight: bolder;
  padding-top: 35px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.about-content {
  display: block;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

.archives {
  height: 330px;
  width: 225px;
  background-color: white;
  text-align: start;
  margin-top: 30px;
  margin-left: 55px;
}

.archives-header {
  font-size: 26px;
  font-style: italic;
  color: black;
  text-shadow: 2px 0 black;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.archives-links {
  display: inline;
}

.archive-link {
  display: block;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

.articles-area {
  min-width: 900px;
  height: 1000px;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 45px;
  flex-flow: column wrap;
  align-items: flex-start;
}

.articles-area::before,
.articles-area::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 1;
}

.article-box {
  width: 450px;
  height: auto;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
  box-shadow: 1px 3px 5px 0px #adadad;
  margin-left: 0;
  margin-bottom: 20px;
}

.article-box:nth-child(2n + 1) {
  order: 1;
}

.article-box:nth-child(2n) {
  order: 2;
}

.article-pic {
  width: 446px;
  height: 200px;
}

.content-info {
  background-color: white;
}

.article-header {
  font-size: 27px;
  color: black;
  text-shadow: 1px 0 black;
  letter-spacing: 1px;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.content-summary {
  padding: 0 20px;
}

.detail-link {
  padding: 20px;
  color: #308bfe;
}

.right-aside {
  padding: 30px;
  height: 200px;
  width: 250px;
  background-color: #f5f5f5;
  align-self: center;
  border-radius: 6px;
  margin-left: 5px;
  display: flex;
  align-content: center;
}

.login-form {
}

.login-content {
  text-align: center;
  background-color: white;
  width: 200px;
  height: 60px;
  border: 2px #dadfe2 solid;
  border-radius: 6px;
  justify-content: center;
}

.save-cookies {
  text-align: center;
  margin: 10px;
  font-size: 15px;
}

.login-footer {
  text-align: center;
}

.login-button {
  color: white;
  background-color: #047bfe;
  border: 0;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin: 10px 0;
}

.input-email {
  border: 0;
  margin: 0;
  width: 99%;
  height: 50%;
  outline: none;
}

.input-email::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #838383;
  font-size: 14px;
}

.input-password {
  border: 0;
  margin: 0;
  height: 50%;
  width: 99%;
  outline: none;
  border-top: 2px #dadfe2 solid;
}

.input-password::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #838383;
  font-size: 14px;
}

.aside {
  width: 20%;
  min-width: 220px;
}

.footer {
  border-top: 1px #ebebeb solid;
  height: 70px;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 1440px;
}

.footer-info {
  margin: 10px;
  color: #a8a8a8;
  font-size: 15px;
}

.back-to-top {
  font-size: 15px;
}
